* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #f5f5f5;
  }

  .barra {
    text-align: right;
    color:#ffffff;
    background-color: #5aafc7;
    font-size: 150%;
  }
  
  .container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    height: 100vh;
  }
  
  h1 {
    margin-bottom: 30px;
  }
  
