* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #f5f5f5;
  }

  .barra {
    color:#ffffff;
    background-color: #4fdada;
    display: grid;
    grid-template-columns: 30vw 13vw 13vw 13vw 30vw;
    grid-template-rows: 0vh 10vh;
    height: 10vh;
  }
  .caption {
    grid-column: 5;
    grid-row: 2;
    height: auto;
    vertical-align: bottom;
    text-align: center;
    
  }
  
  .logo {
    grid-column: 1;
    width: 20vh;
    height: auto;
  }

  
  .container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 80vw;
    background: #f5fcff;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin: 10vh auto;
  }
  
  h1 {
    margin-bottom: 30px;
  }
  
  form {
    width: 70%;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
  }

  input[type="password"] {
    margin-bottom: 1px; /* 👈 Riduce spazio solo per il campo password */
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    width: 30%;
  }
  
  button:hover {
    background-color: #0069d9;
  }

  .password-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Allinea tutto a sinistra */
    margin-bottom: 0px;
  }
  
  .show-password {
    display: inline-flex;
    align-items: center;
    font-size: 0.9rem;
    white-space: nowrap;
    margin-top: 2px; /* 👈 Più vicino al campo password */
  }

  .errore{
    color: #d81717;
  }

  @media screen and (max-width: 992px) {
    .caption{
      font-size: 6vw;
    }

    .container{
      height: 60vh;
    }
  }