<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Acoustic&Light - Home</title>
  <link rel="icon" type="image/vnd.icon" href='/images/LogoAL.ico'>
  <link rel="stylesheet" href="/stylesheets/styleHome.css">
</head>
<body>
  <div class="container">
    <img src="/images/Logo_full.png" alt="Logo Acoustic&Light" class="logo" />

    <header class="header">
      <h1 class="title">Acoustic&Light</h1>
      <p class="subtitle">Soluzioni professionali <br> per ambienti sonori e luminosi</p>
    </header>

    <main class="main">
      <a href="/login" class="btn">Accedi all'area riservata</a>
    </main>

    <footer class="footer">
      <p>&copy; 2025 Acoustic&Light. Tutti i diritti riservati.</p>
    </footer>
  </div>
</body>
</html>