<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>A&LService-Logistica/Magazzino</title>
    <link rel="stylesheet" href='/stylesheets/styleMagazzino.css'>
    <link rel="icon" type="image/vnd.icon" href='/images/LogoAl.ico'>
    <script src="/script/hidePssw.js"></script>
  </head>
  <body>
    <div class="barra">
      <p1>Gestionale di A&L</p1>
    </div>
    <div class="intro">
      <h1>Magazzino di Acoustic&Light</h1>
    </div>
    <div id="contenitore_bottone_like"></div>
    <div class="indietro">
      <input type="button" value="â† Indietro" onclick="window.history.back()" class="btn-indietro">
    </a>
    <!-- Carica React. -->
  <!-- Nota: quando rilasci il codice in produzione, sostituisci "development.js" con "production.min.js". -->
  <script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
  <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>

  <!-- Carica il nostro componente React. -->
  <script src="/react/bottone_like.js"></script>
  </body>
</html>